[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/
MemoryCaptures/
ProjectSettings/EditorBuildSettings.asset

# OS junk
.DS_Store
Thumbs.db

# Visual Studio / Rider
.vs/
.idea/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj

# Unity Cache
[Bb]ee/
[Cc]ache/
[Uu]pgradeLog*.txt
